section{
    height: 100vh;
}
.nv{
    position: sticky;
    top: 0;
}

.headset{
    box-sizing: border-box;
    padding-top: 100px;
   padding-bottom: 50px;
   
}
.headset p{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.headset h3{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bg{
    background: rgba(0,0,0,0.7) url(./bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
